body {
  margin: 0;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
}

.container {
  height: 100vh;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-area: auto;
}

.cell:nth-child(n) {
  display: flex;
  height: 100%;
  width: 100%;

  align-items: center;
  justify-content: center;

  font-size: 3rem;
  background-color: aliceblue;
}
